#filter_btn {
  display: none;
}

.checkbox-col {
  margin-left: 10px;
}

.button-col {
  margin-right: 60px;
}
.form-check-label {
  position: relative;
  background-color: #3f3f3f;
  width: 60px;
  height: 35px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.slider {
  position: relative;
  background-color: #7a7a7a;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

#filter_btn:checked ~ .form-check-label {
  background-color: #0c5eaa;
}

#filter_btn:checked ~ .form-check-label .slider {
  transform: translateX(25px);
  background-color: #8d8c8c;
}



<!--sidebar-->

#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;
  background-color: #212529;
  padding: 0;
}

/* Sidebar sizes when expanded and collapsed */
.sidebar-expanded {
  width: 200px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item */
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}
